<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BlueConsultingDBString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BlueConsultingManagementSystemLogic\App_Data\BlueConsultingDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>