<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Server=(localdb)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|BlueConsultingDB.mdf;" />
    <add name="BlueConsultingDBString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BlueConsultingDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>