<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="everything" />
      <allow roles="Admin" />
    </authorization>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=M:\entnet\BlueConsultingManagementSystem\BlueConsultingManagementSystemLogic\App_Data\DATABASE.MDF;Integrated Security=True;" />
    <add name="BlueConsultingDBString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BlueConsultingManagementSystemLogic\App_Data\BlueConsultingDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>