<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--JAMES MACHINE-->
    <!--<add name="BlueConsultingDBString"
     connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=M:\entnet\BlueConsultingManagementSystem\BlueConsultingManagementSystemLogic\App_Data\BlueConsultingDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    
    <!--ALEX LAPTOP-->
    <add name="BlueConsultingDBString"
 connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\asmith\Documents\GitHub\EnterpriseProgAssign1\BlueConsultingManagementSystem\BlueConsultingManagementSystemLogic\App_Data\BlueConsultingDB.mdf"
  providerName="System.Data.SqlClient" />
    
    <!--ALEX PC-->
    <!--<add name="BlueConsultingDBString"
     connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Alex\Documents\GitHub\EnterpriseProgAssign1\BlueConsultingManagementSystem\BlueConsultingManagementSystemLogic\App_Data\BlueConsultingDB.mdf"
      providerName="System.Data.SqlClient" />-->
   
  </connectionStrings>
</configuration>