<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="*" />
            <allow roles="Account Staff" />
            <allow roles="Department Supervisor" />
            <deny roles="Consultants" />
        </authorization>
    </system.web>
</configuration>